* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
}

body {
		background-color: hsl(0, 0%, 98%);
		font-family: 'Poppins', sans-serif;
}

header {
		text-align: center;
		margin: 1.8em auto;
}

header h1:nth-child(1) {
		font-weight: 200;
}

header p {
		margin-top: .7em;
		padding: 0 .5em;
}

p {
		color: hsl(229, 6%, 66%);
}

.cards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 1140px;
		margin: auto;
}

.cards__card {
		width: 90%;
		background-color: #ffffff;
		padding: 1.4em;
		margin: .8em;
		border-radius: 5px;
}

.cards__description {
		margin-top: .7em;
}

.cards__img {
		float: right;
		margin-top: 2em;
}

.card--supervisor {
		border-top: 5px solid hsl(180, 62%, 55%);
}

.card--team-builder {
		border-top: 5px solid hsl(0, 78%, 62%);
}

.card--karma {
		border-top: 5px solid hsl(34, 97%, 64%);
}

.card--calculator {
		border-top: 5px solid hsl(212, 86%, 64%);
}

@media screen and (min-width:768px) {
		.container {
				position: relative;
  		/*transform: translateY(30%);*/
  		top: 50%;
		}
		header p {
				width: 550px;
				margin: auto;
		}
		.cards__card {
				width: 350px;
				padding: 1.7em;
		}
}


		
		
		
		
		


		
		
		
		
		
		

@keyframes animate {
		from {
				transform: translateX(0px);
		}
		to {
				transform: translateX(180px);
		}
}

@media screen and (min-width:1000px) {
		.cards__card {
				width: 315px;
		}
	 .cards__card:nth-of-type(odd) {
	 		transform: translateY(50%);
	 }
}

@media screen and (min-width:1200px) {
		.cards__card {
				width: 350px;
		}
}
